{% extends 'home.html' %}
{% load static %}


{% block card %}

 <!-- ==== Banner Section ===== -->
 <section class="banner-section pt-5 mt-78px">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- Banner left Col -->
            <div class="col-md-6 col-xl-5 text-center text-md-start mt-5 mt-md-0 order-2 order-md-1">
                <h1 class="heading-1 text-center">{{card.Product_title}}</h1>
                {% comment %} <img src="./img/easy-ecom-logo.png" alt="Easy-eCom Logo"> {% endcomment %}
                <p class="mt-2 text-center">{{card.product_desc}}</p>
            </div> <!-- /. Banner Left Col -->

            <!-- Banner Right Col -->
            <div class="col-md-6 order-1 order-md-2">
                <div class="">
                    <img src="{{card.product_hading_img.url}}" alt="Banner Image">
                </div>
            </div> <!-- /. Banner Right Col -->
        </div>
    </div>
</section>

<!-- ==== About Product Section ===== -->
<section class="about-product pt-6rem">
    <div class="container">
        <div class="row gx-md-5 justify-content-between align-items-center">
            <!-- About left Col -->
            <div class="col-md-5">
                <div class="">
                    <img src="{{card.product_help_img.url}}" alt="Banner Image">
                </div>
            </div> <!-- /. About Left Col -->

            <!-- About Right Col -->
            <div class="col-md-7 mt-5 mt-md-0">
                <h2 class="heading-3 d-inline-block b-bottom pb-1"> How can {{card.Product_title}} help your business?</h2>
                <p class="pt-3">{{card.product_help_desc}}</p>
                <!-- <p class="me-lg-4 mt-3 fs-18">Easy Ecom helps you have a website of your own. You will not have
                    to worry about having to run behind developers for updating your products or categories. You
                    can directly get to update or delete without any other involvement.</p> -->
            </div> <!-- /. About Right Col -->
        </div>
    </div>
</section>

<!-- ==== Features Secction ==== -->
<section class="features-sec pt-6rem pb-6rem">
    <div class="container">
        <!-- Heading -->
        <div class="text-center mb-2">
            <h2 class="heading-3 d-inline-block b-bottom pb-1">Features of {{card.Product_title}}</h2>
        </div>
        <div class="row">
            <!-- First col -->
            <div class="col-md-4 mt-2rem">
                <div class="features-card d-flex">
                    <div class="">
                        <img src="{% static './img/tools.svg' %}" class="me-4 w-48px" alt="Feature Image">
                    </div>
                    <div>
                        <h5 class="highlighter fw-700 mb-2">{{card.product_Features1}}</h5>
                        <!-- <p>Easy Ecom has one of the best features where one can optimize SEO by themselves. They
                            can put the meta tags and descriptions and have an SEO-optimized website.</p> -->
                    </div>
                </div>
            </div>
            <!-- Second col -->
            <div class="col-md-4 mt-2rem">
                <div class="features-card d-flex">
                    <div class="">
                        <img src="{% static './img/tools.svg' %}" class="me-4 w-48px" alt="Feature Image">
                    </div>
                    <div>
                        <h5 class="highlighter fw-700 mb-2">{{card.product_Features2}}</h5>
                        <!-- <p>In Easy Ecom enables one to have complete product management. With having admin
                            access for themselves, they can add or delete products, add or delete categories and
                            much more. You will be having complete access to your website </p> -->
                    </div>
                </div>
            </div>
            <!-- Third col -->
            <div class="col-md-4 mt-2rem">
                <div class="features-card d-flex">
                    <div class="">
                        <img src="{% static './img/tools.svg' %}" class="me-4 w-48px" alt="Feature Image">
                    </div>
                    <div>
                        <h5 class="highlighter fw-700 mb-2">{{card.product_Features3}}</h5>
                        <!-- <p> Easy Ecom enables one to have track of their orders being received, dispatched, and delivered. One can have complete track of everything and keep account for the same.
                        </p> -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<hr>

<!-- ==== Contact Button Secction ==== -->
<section class="py-5">
    <div class="container">
        <div class="row gx-md-5 justify-content-between align-items-center">
            <!-- left Col -->
            <div class="col-md-6">
                <h2 class="heading-2 text-center text-md-start"> Loved our Product. Contact us to know more!
                </h2>
            </div> <!-- /. Left Col -->

            <!-- Right Col -->
            <div class="col-md-6 mt-2rem mt-md-0 text-center text-md-end">
                <a href="{% url 'contact' %}" class="btn btn-main type-2 m-0">Contact Now</a>
            </div> <!-- /. Right Col -->
        </div>
    </div>
</section>

<hr>


{% endblock card %}