{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechFnatic - Home Page</title>
    <link rel="icon" type="image/x-icon" href="./img/logo.png">

    <!-- Bootstrap-5.2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Slick Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">

    <!-- Custom CSS -->
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- ==== Background Video =====  -->
    <!-- <div class="bg-video">
        <video autoplay muted loop id="myVideo">
            <source src="./img/bg.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div> -->
    
    <main id="main">
        <!-- === Header (Navbar) -->
        <header class="fixed-top">
            <nav class="navbar navbar-expand-md p-0">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src='{{data.logo.url}}' class="logo"
                            alt="Logo Image"></a>
                    <button class="navbar-toggler fs-24" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end mobile-nav" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <img src="img/logo.png" class="logo" alt="Logo Image">
                            <button type="button" class="btn-close fs-24" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body align-items-center">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#our-products">Products</a>
                                </li>
                                <li class="nav-item">
                                    {% comment %} <a class="nav-link" href="./contact-us.html">Contact Us</a> {% endcomment %}
                                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                                </li>
                                <li class="nav-item d-block d-md-none">
                                    <a href="https://wa.me/+916361662946" target="_blank" class="nav-link"><img
                                            src="./img/whatsapp.svg" class="w-24px" alt="Whatsapp Icon"></a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% block card %}

        <!-- ==== Banner Section ===== -->
        <section class="banner-section pt-5 mt-78px">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <!-- Banner left Col -->
                    <div class="col-md-6 col-xl-5 text-center text-md-start">
                        <h1 class="heading-1">{{data.Hading_text}} </h1>
                        <p class="me-lg-4 mt-2rem">{{data.Hading_desc_text}}</p>
                        <div>
                            <a href="#our-products" class="btn btn-main">Our Products</a>
                        </div>
                    </div> <!-- /. Banner Left Col -->

                    <!-- Banner Right Col -->
                    <div class="col-md-6 mt-5 mt-md-0">
                        <div class="">
                            <img src="{% static 'img/banner-img.svg' %}" alt="Banner Image">
                        </div>
                    </div> <!-- /. Banner Right Col -->
                </div>
            </div>
        </section>


       
        <section class="product-section pt-6rem" id="our-products">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-2 position-relative d-inline-block pseudo-border-left pseudo-border-right">Our
                        Products</h2>
                </div>
                <div class="row pt-2rem justify-content-between align-items-center">
                    <div class="col-12 pb-5">
                        <div class="product-slider">
                            
                            {% for card in card %}
                            <!-- First Product -->
                            <div class="card product-card">
                                <div class="card-head position-relative">
                                    <img src="{{card.card_img.url}}" class="card-img-top position-relative p-3"
                                        alt="Product Image">
                                </div>
                                <hr>
                                <div class="card-body mt-2">
                                    <h3 class="card-title text-white"><span class="highlighter">{{card.Product_title}}</span> - <br>
                                        An easy, DIY e-commerce web application</h3>
                                    <a href="{% url 'card' card.id %}" class="btn d-flex align-items-center">Know More <img
                                            src="{% static 'img/arrow-right.svg' %}" class="ms-1 w-16px" alt="Arrow Icon"> </a>
                                </div>
                            </div>
                            {% comment %} ----  {% endcomment %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        


        <!-- ==== About us Section ===== -->
        <section class="about-section pt-6rem pb-2rem">
            <div class="container">
                <div class="row gx-md-5 justify-content-between align-items-center">
                    <!-- About left Col -->
                    <div class="col-md-5">
                        <div class="">
                            <img src="{% static 'img/about-img.svg' %}" alt="Banner Image">
                        </div>
                    </div> <!-- /. About Left Col -->

                    <!-- About Right Col -->
                    <div class="col-md-7 mt-5 mt-md-0">
                        <h2 class="heading-2">About us</h2>
                        <p class="me-lg-4 mt-3 fs-18">{{data.About_us_text}}</p>
                    </div> <!-- /. About Right Col -->
                </div>
            </div>
        </section>

        <hr>

        {% endblock card %}

        {% block footer %}
        <!-- ==== Footer Section ===== -->
        <section class="footer-section pt-2rem pb-2rem" id="foot">
            <div class="container">
                <!-- Footer Header -->
                <div class="row justify-content-between">
                    <div class="col-6">
                        <img src="{{data.logo.url}}" class="logo" alt="Logo Image">
                    </div>
                    <div class="col-6">
                        <ul class="social-links d-flex justify-content-end mb-0 list-unstyled">
                            <li><a target="_blank" href="{{data.facebook}}"><img
                                        src="{% static './img/facebook.svg' %}" alt="Facebook Icon"></a></li>
                            <li><a target="_blank" href="{{data.linkedin}}"><img
                                        src="{% static 'img/linkedin.svg' %}" alt="Linkedin Icon"></a></li>
                            
                        </ul>
                    </div>
                </div>


                
                <!-- Footer Content -->
                <div class="row mt-4">
                    <!-- First Col -->
                    <div class="col-md-6 col-lg-4">
                        <ul class="footer-links mb-0 list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/#our-products">Products</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'policy' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'terms_condition' %}">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <!-- Second Col -->
                    <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
                        <ul class="footer-links footer-contact mb-0 list-unstyled">
                            <li class="d-flex align-items-start">
                                <img src="{% static 'img/envelope-fill.svg' %}" class="mt-1" alt="Message Icon">
                                <div class="ms-2">
                                    <h5>Email</h5>
                                    <a href="mailto:solution@techfnatic.com">{{data.Email}}</a>
                                </div>
                            </li>
                            
                            <li class="d-flex align-items-start">
                                <img src="{% static 'img/geo-alt-fill.svg' %}" class="mt-1" alt="Message Icon">
                                <div class="ms-2">
                                    <h5>Address</h5>
                                    <a href="https://goo.gl/maps/2ZBTTgBj3jdfGwXm7" target="_blank">{{data.address}} </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Third Col -->
                    <div class="col-md-12 col-lg-4 mt-4 mt-lg-0">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.839134134713!2d77.59633381413528!3d12.982138818161104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1714d2e763c3%3A0xaf89561c107d050!2sTechFNatic!5e0!3m2!1sen!2sin!4v1663663406435!5m2!1sen!2sin"
                            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- ==== Bottom Footer Section ===== -->
        <section class="bottom-footer py-3">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <p class="fw-500 fs-16">Copyright © 2022 </p>
                    </div>
                </div>
            </div>
        </section>

        
        {% endblock footer %}
    </main>

    <!-- jQuery Js -->
    <script src="{% static 'js/jQuery.js' %}"></script>
    <!-- Bootstrap-5.2 Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!-- Slick Slider Js -->
    <script src="{% static 'js/slick.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'js/main.js' %}"></script>
    
</body>

</html>